@import url("main.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #183659;
}

.project-container{
    display: flex;
    margin-top: 100px;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    height: 100dvh;
    background-color: #183659;
    font-size: 2rem;
}



.project-container section h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: antiquewhite;
    display: block;
}
    

.projects{
    font-size: 1.5rem;
    color: antiquewhite;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: antiquewhite;
    font-size: 1rem;
    z-index: 100;
    pointer-events: none;
    padding: 8px 0;
}

